<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="32.801" height="32.801" viewBox="0 0 32.801 32.801">
  <g id="np_arrow-right_888647_FFFFFF" transform="translate(-8.581 20.938) rotate(-45)">
    <path id="Path_13" data-name="Path 13" d="M0,0H24.4V4.314H0Z" transform="matrix(1, -0.017, 0.017, 1, 0, 12.432)" fill="#fff"/>
    <path id="Path_14" data-name="Path 14" d="M3.022,28.912,0,25.89,11.436,14.456,0,3.022,3.022,0,17.476,14.456Z" transform="translate(12.135 0)" fill="#fff"/>
  </g>
</svg>