<!doctype html>
<html lang="en" class="no-js">
<head>
    <title>{{pageTitle }}</title>
    <meta charset="utf-8">
    <meta content="initial-scale=1, width=device-width" name="viewport">
    <meta name="theme-color" content="#030110" />
    <meta name="description" content={{ pageDescription }} />

    <link rel="apple-touch-icon" sizes="57x57" href={{ "/assets/app-images/apple-icon-57x57.png" | url }} />
    <link rel="apple-touch-icon" sizes="60x60" href={{ "/assets/app-images/apple-icon-60x60.png" | url }} />
    <link rel="apple-touch-icon" sizes="72x72" href={{ "/assets/app-images/apple-icon-72x72.png" | url }} />
    <link rel="apple-touch-icon" sizes="76x76" href={{ "/assets/app-images/apple-icon-76x76.png" | url }} />
    <link
        rel="apple-touch-icon"
        sizes="114x114"
        href={{ "/assets/app-images/apple-icon-114x114.png" | url }}
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href={{ "/assets/app-images/apple-icon-120x120.png" | url }}
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href={{ "/assets/app-images/apple-icon-144x144.png" | url }}
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href={{ "/assets/app-images/apple-icon-152x152.png" | url }}
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={{ "/assets/app-images/apple-icon-180x180.png" | url }}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href={{ "/assets/app-images/android-icon-192x192.png" | url }}
    />
    <link rel="icon" type="image/png" sizes="32x32" href={{ "/assets/app-images/favicon-32x32.png" | url }} />
    <link rel="icon" type="image/png" sizes="96x96" href={{ "/assets/app-images/favicon-96x96.png" | url }} />
    <link rel="icon" type="image/png" sizes="16x16" href={{ "/assets/app-images/favicon-16x16.png" | url }} />
    <link rel="manifest" href={{ "/assets/app-images/manifest.json" | url }} />

    <meta property="og:url" content="https://lisamarleen.de" />
    <meta property="og:title" content="Lisa Marleen – Multidiciplinary Art Director" />
    <meta
      property="og:description"
      content="I’m Lisa Marleen (she/her), multidisciplinary designer, art director, and digital creative. This is my visual playground."
    />
    <meta
      property="og:image"
      content="https://lisamarleen.de/assets/share/social-share-image.png"
    />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="1024" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Lisa Marleen – Multidiciplinary Art Director" />
    <meta
      name="twitter:description"
      content="I’m Lisa Marleen (she/her), multidisciplinary designer, art director, and digital creative. This is my visual playground."
    />
    <meta
      name="twitter:image"
      content="https://lisamarleen.de/assets/share/social-share-image.png"
    />

  <style>
    {{ pageId | cssmin | safe }}
    {{ "main" | cssmin | safe }}
  </style>
  <script>
    {{ "main" | jsmin | safe }}
    {{ pageId | jsmin | safe }}
  </script>
  <link rel="stylesheet" href="{{ "/css/main.css" | url }}">
  <script src="{{ "/js/main.js" | url }}" defer></script>
</head>

<body style="background-color: #030110; margin: 0; padding: 0;">

    <header class="page-header">
        <a class="page-header__home-link" href="/">
        <span>  
        LM
        </span>
        <svg id="Ebene_2" data-name="Ebene 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 266.12 44.64">
            <path pathLength="1" d="M3.42,5.61L1.5,41.36s19.53-3.35,20.99-6.18"/>
            <path pathLength="1" d="M27.93,11.84s1.06,27.95,3.06,28.67"/>
            <path pathLength="1" d="M46.44,9.84s-11.16,4.99-11.29,16.03c0,0,1.44-2.62,7.99-3.47s9.43,7.32,7.99,12.2-10.5,6.73-11.27,4.95"/>
            <path pathLength="1" d="M58.51,38.28l6.79-27.82s5.07,24.62,8.68,28.51"/>
            <path pathLength="1" d="M58.51,28.66s21.12-3.17,20.99-2.92"/>
            <path pathLength="1" d="M98.94,41.05s2.18-6.06,2.62-13.39,1.82-20.74,1.63-20.53,9.43,20.25,9.43,20.25l10.3-21.1,.04,35.06"/>
            <path pathLength="1" d="M129.65,41.81c.25-.35,6.62-23.97,7.98-25.86s2.51,20.9,7.53,24.32"/>
            <path pathLength="1" d="M146.5,30.93s-9.53,2.08-12.72,1.87"/>
            <path pathLength="1" d="M156.64,43.14s-2.96-17.28-3.29-21.04,4.73-6.79,10.07-4.35-5.04,7.07-5.04,7.07c0,0,5.03,10.44,15.12,11.7"/>
            <polyline pathLength="1" points="180.44 12.83 182.39 39.78 196.5 37.34"/>
            <polyline pathLength="1" points="205 16.34 205 39.75 219.22 37.25"/>
            <line pathLength="1" x1="220.72" y1="13.08" x2="206.45" y2="18.17"/>
            <line pathLength="1" x1="216.87" y1="21.83" x2="202.45" y2="26.28"/>
            <path pathLength="1" d="M226.18,16.56s-1.03,21.45,.87,21.62,12.45-3.85,12.45-3.85"/>
            <line pathLength="1" x1="240.02" y1="12.45" x2="228.2" y2="17.57"/>
            <line pathLength="1" x1="236.4" y1="22.13" x2="224.2" y2="27.37"/>
            <path pathLength="1" d="M246.75,41.34c.25-1-1.67-26.07,.29-30.03s12.79,24.6,12.79,24.6c0,0,6.99-19.26,4.08-34.41"/>
        </svg>
        <span class="sr-only">Back to start!</span>
        </a>
    </header>

    <button class="main-menu-open main-menu-trigger" aria-expanded="false" aria-label="Main Navigation" aria-controls="main-nav">
        <span class="sr-only">Close main menu</span>
        <svg class="main-menu-trigger__cirlce" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 131.64 139.01">
            <path pathLength="1" d="M75.16,2.14S28.77-6.85,8.67,42.62c-20.11,49.47,5.88,82.67,31.39,90.57s67.82,9.83,85.17-38.14S108.79,23.11,105.67,21.1s-24.82-18.55-55.97-4.28"/>
        </svg>
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="91.782" height="97.944" viewBox="0 0 91.782 97.944">
            <defs>
                <clipPath id="clip-path">
                <rect id="Rectangle_28" data-name="Rectangle 28" width="91.782" height="97.944" fill="none"/>
                </clipPath>
            </defs>
            <g id="menu" transform="translate(-3127.609 4273.472)">
                
                <g id="Group_212" data-name="Group 212" transform="translate(1353.718 -4285.165)">
                <g id="Group_144" data-name="Group 144" transform="translate(1797.178 34.932)">
                    <g id="Group_213" data-name="Group 213" transform="translate(0 0)">
                    <path id="Path_79" data-name="Path 79" d="M43.361.261A402.586,402.586,0,0,0,9.269,32.169Q4.693,36.98.279,41.94c-.9,1.011.587,2.509,1.492,1.492A402.909,402.909,0,0,1,34.789,10.414Q39.749,6,44.853,1.753C45.9.883,44.4-.6,43.361.261" transform="matrix(-0.719, -0.695, 0.695, -0.719, 23.659, 46.331)" />
                    <path id="Path_95" data-name="Path 95" d="M43.361.261A305.867,305.867,0,0,0,13.585,28c-3.05,3.207-3.169,3.687-6.112,6.993-.9,1.011.587,2.509,1.492,1.492,10.358-11.63,14.189-15.717,25.824-26.071Q39.749,6,44.853,1.753C45.9.883,44.4-.6,43.361.261" transform="matrix(-0.719, -0.695, 0.695, -0.719, 23.659, 69.331)" />
                    <path id="Path_80" data-name="Path 80" d="M10.5,6.718C20.07,16.8,24.848,21.793,34.01,32.246c2.628,3-.665-.779,1.929,2.25.886,1.032,2.372-.466,1.492-1.492-9.045-10.556-7.8-8.86-17.25-19.052Q16.114,9.565,12,5.226c-.936-.987-2.427.506-1.492,1.492" transform="translate(-19.257 32.497) rotate(-49)" />
                    </g>
                </g>
                
                </g>
            </g>
        </svg>
    </button>
    
    <div class="main-menu">
        <nav class="main-menu-nav" id="main-nav">
            <div class="content-wrapper content-wrapper--small">
                <ul class="main-menu-nav-page-list" role="list">
                {% for navigationItem in common.navigation %}
                    <li class="main-menu-nav-page-list__list-item" style="--animation-delay:{{ loop.index }}">
                        <a 
                            href={{navigationItem.link}} 
                            class="main-menu-nav-link">
                            <span class="main-menu-nav-link__label">{{navigationItem.label}}</span>
                            <span class="main-menu-nav-link__sub-label">{{navigationItem.subLabel}}</span>
                        </a>
                    </li>
                {% endfor %}
                </ul>

                <ul class="main-menu-nav-social-list">
                    <li class="main-menu-nav-social-list__list-item">
                        <a 
                            href={{ common.social.email.link }} 
                            class="social-list-link social-list-link--email external-link"
                            rel="noopener noreferrer" 
                            target="_blank">
                            {{ common.social.email.label }}
                            {% include "underline-deco.njk" %}
                        </a>
                    </li>
                    <li class="main-menu-nav-social-list__list-item">
                        <a 
                            href="{{ common.social.items[0].link }}"
                            class="social-list-link external-link">
                            {{ common.social.items[0].label }}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <button class="main-menu-close main-menu-trigger">
            <span class="sr-only">Close main menu</span>
              <svg class="main-menu-trigger__cirlce" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 131.64 139.01">
                <path pathLength="1" d="M75.16,2.14S28.77-6.85,8.67,42.62c-20.11,49.47,5.88,82.67,31.39,90.57s67.82,9.83,85.17-38.14S108.79,23.11,105.67,21.1s-24.82-18.55-55.97-4.28"/>
            </svg>
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="91.782" height="97.944" viewBox="0 0 91.782 97.944">
                <defs>
                    <clipPath id="menu-close-clip-path">
                        <rect width="45.207" height="45.465" transform="translate(0 0)" fill="none"/>
                    </clipPath>
                </defs>
                <g transform="translate(-1773.891 -11.693)">
                    <g transform="translate(1797.178 37.932)">
                        <g transform="translate(0 0)" clip-path="url(#menu-close-clip-path)">
                            <path d="M43.361.261A402.586,402.586,0,0,0,9.269,32.169Q4.693,36.98.279,41.94c-.9,1.011.587,2.509,1.492,1.492A402.909,402.909,0,0,1,34.789,10.414Q39.749,6,44.853,1.753C45.9.883,44.4-.6,43.361.261" transform="translate(0 0)" />
                            <path d="M10.5,6.718Q24.853,21.847,38.6,37.529q3.943,4.5,7.834,9.042c.886,1.032,2.372-.466,1.492-1.492Q34.361,29.246,20.181,13.952,16.114,9.565,12,5.226c-.936-.987-2.427.506-1.492,1.492" transform="translate(-3.028 -1.455)" />
                        </g>
                    </g>                   
                </g>
            </svg>
        </button>
    </div>

  <main>
   {{ content | safe }}

    <section class="social">
      <div class="content-wrapper">
        <div class="social-content">
          <h2 class="social-content__title">{{ common.social.title }}</h2>
          <ul class="social-content__list social-list">
            {% for socialItem in common.social.items %}
              <li class="social-list__item">
                <a 
                  href={{ socialItem.link }} 
                  class="social-list-link external-link" 
                  rel="noopener noreferrer" 
                  target="_blank">
                  {{ socialItem.label }}
                </a>
              </li>
            {% endfor %}
          </ul>
          <div class="social-content__email">
            <a 
              href={{ common.social.email.link }} 
              class="social-list-link social-list-link--email external-link" 
              rel="noopener noreferrer" 
              target="_blank">
              {{ common.social.email.label }}
              {% include "underline-deco.njk" %}
            </a>
          </div>

        </div>
      </div>
    </section>

    <footer class="footer">
      <small class="footer__copyright">{{ common.footer.copyright }}</small>
      <a class="footer__link" href={{ common.footer.imprint.link }} rel="noopener noreferrer" target="_blank">
        {{ common.footer.imprint.label }}
      </a>
    </footer>
  </main>

  
  
</body>
</html>