.intro {
  position: relative;
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
}

.intro-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.intro-nav li {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: var(--spacing-m, 16px) 0;
  border-bottom: 1px solid var(--color-grey1, #626262);
  animation: moveInFromYAndFadeIn 700ms var(--ease-in-quad) forwards;
  animation-delay: calc(var(--animation-delay) * 100ms + 3300ms);
  opacity: 0;
}

.no-js .intro-nav li {
  opacity: 1;
  animation: none;
}

.intro-nav li:last-child {
  border-bottom: none;
}

.intro-nav li a {
  position: relative;
  text-decoration: none;
  letter-spacing: 0.7px;
  color: var(--color-white, #FFF);
  text-transform: uppercase;
  font-family: var(--font-headline-bold);
  font-size: var(--font-size-m);
  transition: color var(--hover-default-transiton-duration, 300ms);
}

.intro-nav li a:hover {
  color: var(--color-primary, #4961fe);
}

.intro-title {
  align-self: flex-end;
  text-align: right;
  /* font-size: clamp(2rem, -0.875rem + 33.333vw, 7.5rem);*/
  max-width: 17ch;
}

.intro-title__line {
  display: block;
  white-space: nowrap;
}

.intro__video {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro__video--with-fade {
  opacity: 0;
}

.intro__video--with-fade.intro__video--loaded {
  animation: fadeIn 3000ms 300ms ease-in forwards;
}

@media (min-width: 768px) {
  .intro-nav li {
    border: none;
    padding: var(--spacing-s, 8px) 0;
  }
}

@media (min-width: 1280px) {
  .intro-title__line {
    display: inline;
    white-space: normal;
  }
}
