.case-section {
  padding: var(--spacing-xl) 0;
}

.case {
  display: grid;
  grid-template-areas:
    "image1"
    "title"
    "image2"
    "image3"
    "image4"
    "desc";
}

.case__title {
  position: relative;
  z-index: 1;
  grid-area: title;
  justify-self: flex-end;
  text-transform: uppercase;
  text-align: right;
  font-size: var(--font-size-xl);
  line-height: var(--font-line-height-xl);
  font-family: var(--font-headline-bold);
  padding: var(--spacing-m) 0 var(--spacing-xl);
}

.case__desc {
  grid-area: desc;
  margin-top: var(--spacing-l);
}

.case-links {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--spacing-m);
  align-items: flex-end;
  flex-direction: column;
}

.case-links__item {
  margin-top: var(--spacing-s);
}

.case-links__item:first-child {
  margin-top: 0;
}

.case__visual:first-child {
  grid-area: image1;
}

.case__visual:nth-child(2) {
  grid-area: title;
}

.case__visual:nth-child(3) {
  grid-area: image3;
}

.case__visual:nth-child(4) {
  grid-area: image4;
}

.case__visual:nth-child(2) img {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .case {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "title image1"
      "desc image2"
      "desc image3"
      "desc image4";
    column-gap: var(--spacing-l);
  }
  
  .case-section {
    padding: var(--spacing-xl) 0;
  }

  .case__title {
    align-self: flex-end;
    text-transform: uppercase;
    padding: 0;
    white-space: nowrap;
  }

  .case__desc {
    margin-top: var(--spacing-xl);
  }

  .case-links {
    flex-direction: column;
    margin-top: var(--spacing-xl);
  }
}

@media (min-width: 768px) {
  .case__visual:nth-child(2) img {
    opacity: 1;
  }

  .case__visual:not(:first-child) {
    margin-top: calc(var(--spacing-xxl) * -1);
  }

  .case__visual:nth-child(2) {
    grid-area: image2;
  }
}

@media (min-width: 1024px) {
  .case-section {
    padding: var(--spacing-3xl) 0;
  }
}
