---
permalink: css/main.css
---
{% include "./animations.css" %}
{% include "./main.css" %}
{% include "./links.css" %}
{% include "./listing.css" %}
{% include "./cases.css" %}
{% include "./short-bio.css" %}
{% include "./social.css" %}
{% include "./tabs.css" %}
{% include "./visual.css" %}