.intro {
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.intro-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.intro-nav li {
  position: relative;
  display: block;
  padding: calc(var(--spacing-unit) * 2px) 0;
  border-bottom: 2px solid red;
  box-sizing: border-box;
}

.intro-nav li:last-child {
  border-bottom: none;
}

.intro-title {
  align-self: flex-end;
  text-align: right;
  margin: 0;
  font-family: var(--font-headline-bold);
  font-size: clamp(2rem, -0.875rem + 33.333vw, 7.5rem);
  max-width: 17ch;
  text-transform: uppercase;
}

.intro-title__line {
  display: block;
}

@media (min-width: 768px) { 
  .intro-nav li {
    border: none;
  }

  .intro-title__line {
    display: inline;
  }
}
