.icon-link {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
}

a:hover > .icon-link .icon-link__circle path {
    animation: svgStroke 700ms var(--ease-out-circ) forwards;
}

a:hover > .icon-link svg {
    fill: var(--color-highlight);
}

.icon-link svg {
    fill: var(--color-white);
    transition: fill var(--hover-default-transiton-duration) var(--ease-out-circ);
}

.icon-link.icon-link--primary svg {
    fill: var(--color-highlight);
}

.icon-link__circle {
    position: absolute;
    left: -16px;
    top: -16px;
}

.icon-link__circle path {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    fill: none;
    stroke: #4961fd;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
}