
.listing.listing--in-view .listing-item:before, .listing.listing--in-view .listing-item:after  {
  transform: scaleX(1);
  opacity: 0.5;
}

.listing.listing--in-view .listing-item {
  opacity: 1;
}

.listing.listing--not-in-view .listing-item {
  opacity: 0;
}

.listing-item {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--spacing-l) 0;
  transition: opacity 700ms var(--animation-delay) var(--ease-in-circ);
}

.listing-item:before, .listing-item:last-child:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--color-grey1);
  opacity: 0;
  transform: scaleX(0.7);
  transition: all 700ms calc(100ms + var(--animation-delay)) var(--ease-in-circ);
}

.listing-item:after {
  bottom: 0;
}

.listing-item:before {
  top: 0;
}

.listing-item__label {
  font-size: var(--font-size-m);
  line-height: var(--font-line-height-m);
  font-family: var(--font-headline-bold);
  text-transform: uppercase;
  margin-bottom: var(--spacing-s);
}

.listing-item__sub-label {
  font-family: var(--font-headline-regular);
  font-size: var(--font-size-s);
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: -0.2px;

}

.listing-item__meta {
  font-size: var(--font-size-s);
  color: var(--color-grey1);
  text-transform: uppercase;
  font-family: var(--font-headline-regular);
  letter-spacing: -0.2px;
  margin-top: 4px;
}

.listing-item__time {
  font-size: var(--font-size-m);
  color: var(--color-grey1);
  text-transform: uppercase;
  font-family: var(--font-headline-regular);
  letter-spacing: var(--font-letter-spacing-s);
}

.listing-item__link {
  position: relative;
  padding: var(--spacing-s);
  left: calc(var(--spacing-s) * 2);
  top: calc(var(--spacing-s) * -2);
}

.listing-item-current-hint {
  position: absolute;
  left: -30px;
  top: 0;
}

.listing-item-current-hint svg path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
}

.listing.listing--in-view .listing-item-current-hint svg path {
  animation: svgStroke 700ms 300ms var(--ease-out-circ) forwards;
}

.listing-item-current-hint svg:last-child {
  width: 300px;
  height: auto;
}

.listing-item-current-hint svg:first-child {
  position: absolute;
  right: 72px;
  top: 20px;
}

.listing-item-current-label {
  position: absolute;
  right: 0;
  bottom: -24px;
  opacity: 0;
}

.listing.listing--in-view + .listing-item-current-label {
  animation: fadeIn 700ms 2400ms var(--ease-out-circ) forwards;
}