:root {
  --color-white: #fff;
  --color-black: #030110;
  --color-grey1: #626262;
  --color-grey2: #c4c4c4;
  --color-highlight: #4961FE;
  
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 32px;
  --spacing-xl: 48px;
  --spacing--xxl: 64px;

  --font-copy: "Open Sans";
  --font-headline-regular: "D-DIN Condensed Regular";
  --font-headline-bold: "D-DIN Condensed DINCondensed-Bold";

  --font-size-xs: 1.125rem;
  --font-size-s: 1.25rem;
  --font-size-m: 2rem;
  --font-size-l: 2.25rem;

  --font-line-height-m: 2rem;
  --font-line-height-l: 2.25rem;

  --font-letter-spacing-s: 0.7px;

}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url("./../assets/fonts/OpenSans-300.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "D-DIN Condensed Regular";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("D-DIN Condensed Regular"),
    url("./../assets/fonts/D-DINCondensed.woff") format("woff");
}

@font-face {
  font-family: "D-DIN Condensed DINCondensed-Bold";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("D-DIN Condensed DINCondensed-Bold"),
    url("./../assets/fonts/D-DINCondensed-Bold.woff") format("woff");
}

* {
  margin: 0;
}

body {
  color: var(--color-white);
  background-color: var(--color-black);
  font-size: 16px;
  line-height: 20px;
  font-family: var(--font-copy);
  overflow-x: hidden;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.content-wrapper {
  position: relative;
  width: 100%;
  max-width: 72rem;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 var(--spacing-m);
}

.short-bio {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "image"
    "main"
    "copy";
  gap: var(--spacing-l);
  padding: var(--spacing-m) 0;
}

.short-bio__main-content {
  grid-area: main;
  text-transform: uppercase;
}

.short-bio__image {
  grid-area: image;
  padding: 0 var(--spacing-m);
}
  
.short-bio__image picture img {
  width: 100%;
  object-fit: cover;
}

.short-bio__copy {
  grid-area: copy;
  font-size: var(--font-size-xs);
  line-height: var(--font-line-height-m);
  padding: 0 var(--spacing-m);
}

.short-bio-title {
  font-family: var(--font-headline-bold);
  font-size: var(--font-size-l);
  line-height: var(--font-line-height-l);
}

.info {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-l) 0;
}

.info__title {
  text-align: right;
  text-transform: uppercase;
  font-size: 6.875rem;
  line-height: 5.5625rem;
  font-family: var(--font-headline-bold);
}

.info__list {
  margin-top: var(--spacing-m);
}

.listing-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--spacing-l) 0;
  border-top: 1px solid var(--color-grey1);
  border-bottom: 1px solid var(--color-grey1);
}

.listing-item__label {
  font-size: var(--font-size-m);
  font-family: var(--font-headline-bold);
  text-transform: uppercase;
  margin-bottom: var(--spacing-s);
}

.listing-item__sub-label {
  font-family: var(--font-headline-bold);
  font-size: var(--font-size-s);
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: -0.2px;
}

.listing-item__meta {
  font-size: var(--font-size-s);
  color: var(--color-grey2);
  text-transform: uppercase;
  font-family: var(--font-headline-regular);
  letter-spacing: -0.2px;
}

.listing-item__action {
  font-size: var(--font-size-m);
  color: var(--color-grey2);
  text-transform: uppercase;
  font-family: var(--font-headline-regular);
  letter-spacing: var(--font-letter-spacing-s);
}

.listing-item__link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%; 
}

.social {
  background: url(/assets/images/seamless-BG.png);
  padding: var(--spacing--xxl) 0;
}

.social-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--xxl);
}

.social-content__title {
  text-transform: uppercase;
  font-size: var(--font-size-l);
  line-height: var(--font-line-height-m);
  font-family: var(--font-headline-bold);
  color: var(--color-highlight);
}

.social-list__item {
  display: block;
  margin-bottom: var(--spacing-m);
}

.social-list__item:last-child {
  margin-bottom: 0;
}

.social-list__link {
  text-transform: uppercase;
  font-size: var(--font-size-m);
  line-height: var(--font-line-height-m);
  font-family: var(--font-headline-bold);
  color: var(--color-white);
  text-decoration: none;
}

.social-list__link.social-list__link--highlighted {
  color: var(--color-highlight);
  text-decoration: underline;
}

.project {
  display: grid;
  grid-template-areas:
    "image1"
    "title"
    "image2"
    "image3"
    "image4"
    "desc"
  ;
}

.project__image {
  width: calc(100% - var(--spacing-s) * 4px);
}

.project__image:nth-child(odd) {
  position: relative;
  justify-self: flex-start;
  z-index: 1;
}

.project__image:nth-child(even) {
  justify-self: flex-end;
}

.project__image:not(:first-child) {
  margin-top: calc(var(--spacing-s) * -4px);
}

.project__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project__image:first-child {
  grid-area: image1;
}

.project__image:nth-child(2) {
  grid-area: title;
}

.project__image:nth-child(3) {
  grid-area: image3;
}

.project__image:nth-child(4) {
  grid-area: image4;
}

.project__title {
  grid-area: title;
  justify-self: flex-end;
  text-align: right;
  text-transform: uppercase;
}

.project__desc {
  grid-area: desc;
}

footer {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) { 
  .content-wrapper {
    padding: 0 var(--spacing-l);
  }

  .experience-education {
    padding: 220px 0;
  }

  .experience-education__education {
    margin-top: 64px;
  }

  .info {
    flex-direction: row;
    gap: var(--spacing-xl);
  }

  .info__title {
    flex: 1;
  }

  .info__list {
    flex: 2;
    margin-top: 0;
  }

  .info__block {
    flex: 2;
  }

  .short-bio {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
      "main main"
      "image copy";
    gap: var(--spacing--xxl);
  }

  .short-bio__main-content {
    padding-top: var(--spacing--xxl);
  }
  
  .short-bio__image {
    overflow: hidden;
    position: relative;
    flex: 1;
    padding: 0;
  }
  
  .short-bio__image picture {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .short-bio__copy {
    max-width: 50ch;
    min-height: 330px;
    flex: 1;
  }

  .short-bio-title {
    font-size: 96px;
    line-height: 96px;
  }

  .social-content {
    flex-direction: row;
  }
  
  .social-content__list {
    flex: 2;
  }
  
  .social-content__title {
    flex: 1;
    font-size: 130px;
    line-height: 100px;
  }

  .social-list {
    column-count: 2;
  }

  .project {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "title image1"
      "desc image2"
      ". image3"
      ". image4"
    ;
  }

  .project__title {
    align-self: flex-end;
    text-transform: uppercase;
  }

  .project__image:nth-child(2) {
    grid-area: image2;
  }

  .project__description {
    position: relative;
    left: auto;
    top: calc(33vw - var(--spacing-s) * 4px);
    order: 1;
    flex: 1;
  }
}


@media (min-width: 1024px) {
  .info {
    gap: 220px;
  }

  .short-bio-title {
    font-size: 130px;
    line-height: 130px;
  }
}