html {
  --color-white: #fff;
  --color-black: #030110;
  --color-dark-blue: #0e0c1d;
  --color-grey1: #626262;
  --color-grey2: #c4c4c4;
  --color-highlight: #4961fe;

  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 32px;
  --spacing-xl: 48px;
  --spacing-xxl: 64px;
  --spacing-3xl: 128px;

  --font-copy: "Open Sans Regular";
  --font-copy-bold: "Open Sans Bold";
  --font-headline-regular: "D-DIN Condensed Regular";
  --font-headline-bold: "D-DIN Condensed DINCondensed-Bold";

  --font-size-xs: 1.125rem;
  --font-size-s: 1.25rem;
  --font-size-m: 2rem;
  --font-size-l: 2.25rem;
  --font-size-xl: 6rem;
  --font-size-xxl: 6.875rem;
  --font-size-3xl: 10rem;

  --font-line-height-xs: 1.875rem;
  --font-line-height-m: 2rem;
  --font-line-height-l: 2.25rem;
  --font-line-height-xl: 5rem;
  --font-line-height-xxl: 5.625rem;
  --font-line-height-3xl: 8rem;

  --font-letter-spacing-s: 0.7px;

  --z-layer-above: 10;

  --ease-in: cubic-bezier(0.49, 0.025, 0.65, 0.65);
  --ease-out: cubic-bezier(0.28, 0.44, 0.49, 1);
  --ease-in-out: cubic-bezier(0.49, 0.025, 0.49, 1);
  --ease-in-smooth: cubic-bezier(0.49, 0.025, 0.685, 1);
  --ease-out-smooth: cubic-bezier(0.28, 0, 0.49, 1);
  --ease-in-out-smooth: cubic-bezier(0.72, 0, 0.28, 1);

  --hover-default-transiton-duration: 300ms;
}

@font-face {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: block;
  src: url("./../assets/fonts/OpenSans-300.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4gaVI.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "D-DIN Condensed Regular";
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src: local("D-DIN Condensed Regular"),
    url("./../assets/fonts/D-DINCondensed.woff") format("woff");
}

@font-face {
  font-family: "D-DIN Condensed DINCondensed-Bold";
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src: local("D-DIN Condensed DINCondensed-Bold"),
    url("./../assets/fonts/D-DINCondensed-Bold.woff") format("woff");
}

* {
  margin: 0;
}

::selection {
  color: var(--color-white);
  background-color: var(--color-primary);
}

body {
  color: var(--color-white);
  background-color: var(--color-black);
  font-size: 16px;
  line-height: 20px;
  font-family: var(--font-copy);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

nav li a[href^="#"] {
  position: relative;
}

nav li a[href^="#"] svg {
  transform: rotate(122deg);
  top: 4px;
  position: absolute;
  right: -32px;
  width: 32px;
  height: 32px;
  opacity: 0;
  transition: opacity var(--hover-default-transiton-duration)
    var(--ease-in-smooth);
}

nav li a[href^="#"]:hover svg {
  opacity: 1;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.about-section:nth-child(even) {
  background-color: var(--color-dark-blue);
}

.about-section:nth-child(odd) {
  background-color: var(--color-black);
}

.content-wrapper {
  position: relative;
  box-sizing: border-box;
  padding: 0 var(--spacing-m);
  width: min(100%, 100rem);
  margin-inline: auto;
}

.content-wrapper.content-wrapper--small {
  width: min(100%, 64rem);
}

.exit-nav {
  padding: var(--spacing-3xl) 0 var(--spacing-l);
  background-color: var(--color-black);
}

.exit-nav-list__item {
  padding: var(--spacing-l) 0;
  border-top: 1px solid var(--color-grey1);
}

.exit-nav-list__item a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font-headline-bold);
  font-size: var(--font-size-m);
  color: var(--color-white);
  transition: color var(--hover-default-transiton-duration)
    var(--ease-in-smooth);
}

.exit-nav-list__item a:hover {
  color: var(--color-highlight);
}

.formatted-copy {
  font-size: var(--font-size-xs);
  line-height: var(--font-line-height-xs);
}

.formatted-copy a {
  color: var(--color-white);
  font-family: var(--font-copy-bold);
  text-decoration: none;
  box-shadow: 0 0 #0000, 0 0 #0000, inset 0 -0.05em 0 0 var(--color-highlight);
  transition: box-shadow var(--hover-default-transiton-duration) var(--ease-out-smooth);
}

.formatted-copy a:hover {
  box-shadow: 0 0 #0000, 0 0 #0000, inset 0 -0.5em 0 0 var(--color-highlight);
}

.formatted-copy b {
  font-family: var(--font-copy-bold);
}

.formatted-copy p + p {
  margin-top: 16px;
}

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-l) 0;
}

.info__title {
  font-family: var(--font-headline-bold);
  text-transform: uppercase;
}

.info__title:not(.info-title--secondary) {
  text-align: right;
  font-size: var(--font-size-xxl);
  line-height: var(--font-line-height-xxl);
}

.info__title.info-title--secondary {
  font-size: var(--font-size-m);
  line-height: var(--font-line-height-m);
  text-align: left;
}

.info__list {
  margin-top: var(--spacing-m);
}

.info__block {
  font-size: var(--font-size-m);
  font-family: var(--font-headline-bold);
  color: var(--color-grey1);
  margin-top: var(--spacing-m);
  text-transform: uppercase;
  line-height: var(--font-line-height-m);
}

.info__block sup {
  font-size: var(--font-size-s);
  text-transform: lowercase;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-m);
  color: var(--color-grey2);
  text-transform: uppercase;
  font-family: var(--font-headline-regular);
}

.footer__copyright {
  font-size: 1rem;
}

.footer__link {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}

@media (min-width: 768px) {
  .content-wrapper {
    padding: 0 var(--spacing-l);
  }

  .about-section {
    padding: var(--spacing-3xl) 0;
  }

  .about-section__listing {
    margin-top: 64px;
  }

  .about-section__listing:first-child {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .info {
    flex-direction: row;
    gap: 120px;
  }

  .info__title {
    flex: 1;
  }

  .social-content {
    gap: 120px;
  }

  .info__title:not(.info-title--secondary) {
    font-size: var(--font-size-xxl);
    line-height: var(--font-line-height-xxl);
  }

  .info__title.info-title--secondary {
    text-align: right;
    font-size: var(--font-size-xxl);
    line-height: var(--font-line-height-xxl);
  }

  .info__list {
    flex: 2;
    margin-top: 0;
  }

  .info__block {
    flex: 2;
    margin-top: 0;
  }
}

@media (min-width: 1280px) {
  .footer {
    padding: 40px 48px;
  }
}

@media (min-width: 1440px) {
  .info {
    gap: 196px;
  }

  .social-content {
    gap: 196px;
  }
}
