.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
  background: transparent linear-gradient(180deg, #3a1ad9 0%, #030110 100%) 0%
    0% no-repeat padding-box;
  z-index: var(--z-layer-xl);
  visibility: visible;
  transition: visibility 0.3s linear;
  opacity: 1;
}

.main-menu-trigger {
  border: none;
  cursor: pointer;
}

.main-menu-trigger svg {
  width: 60px;
  height: auto;
}

.main-menu-trigger__cirlce {
  position: absolute;
  fill: none;
}

.main-menu-trigger__cirlce path {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
  stroke: var(--color-white);
  stroke-dasharray: 1;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 700ms var(--ease-out-smooth);
}

.main-menu-trigger:hover .main-menu-trigger__cirlce path {
  stroke-dashoffset: 1;
}

.main-menu-trigger svg:last-child {
  position: relative;
  z-index: 1;
  fill: var(--color-white);
  transition: fill var(--hover-default-transiton-duration) var(--ease-in-out);
}

.no-js .main-menu-open {
  display: none;
}

.main-menu-open {
  position: fixed;
  bottom: 40px;
  left: calc(50% - 36px);
  z-index: var(--z-layer-xl);
  background: transparent;
  border-radius: 50%;
  transform: translateY(110px);
  transition: transform 300ms var(--ease-in-out);
}

.main-menu-open.main-menu-open--show {
  transform: translateY(0);
}

.main-menu-open[aria-expanded="false"] + .main-menu {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s var(--ease-in-out);
}

.main-menu-open[aria-expanded="false"] + .main-menu .main-menu-nav {
  opacity: 0;
  transition: opacity 0.3s var(--ease-in-out);
}

.main-menu-open .main-menu-trigger__cirlce {
  fill: var(--color-black);
}

.main-menu-nav {
  overflow: hidden;
  overflow-y: auto;
  height: calc(100% - 110px);
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.6s var(--ease-in-out);
}

.main-menu-nav-page-list__list-item {
  padding: var(--spacing-m) 0;
  border-bottom: 1px solid var(--color-grey1);
  opacity: 0;
}

.main-menu-nav-link {
  display: inline-block;
  text-transform: uppercase;
  font-family: var(--font-headline-bold);
  color: var(--color-white);
  transition: color var(--hover-default-transiton-duration) var(--ease-in-out);
  text-decoration: none;
  white-space: nowrap;
}

.main-menu-nav-link__label {
  font-size: var(--font-size-xl);
  line-height: var(--font-line-height-xl);
}

.main-menu-nav-link__sub-label {
  font-size: var(--font-size-l);
  display: none;
}

.main-menu-nav-link:hover {
  color: var(--color-highlight);
}

.main-menu-nav-social-list {
  opacity: 0;
  margin-top: var(--spacing-l);
}

.main-menu-nav-social-list__list-item {
  margin-bottom: var(--spacing-m);
}

.main-menu-close {
  display: flex;
  margin: 0 auto;
  background: transparent;
}

.main-menu .main-menu-close {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.6s var(--ease-in-out) 300ms;
}

.main-menu-open[aria-expanded="false"] + .main-menu .main-menu-close {
  opacity: 0;
  transform: translateY(160px);
}

.main-menu-open[aria-expanded="true"]
  + .main-menu
  .main-menu-nav-page-list__list-item {
  animation: moveInFromYAndFadeIn 0.7s var(--ease-in-smooth) forwards;
  animation-delay: calc(var(--animation-delay) * 100ms);
}

.main-menu-open[aria-expanded="true"] + .main-menu .main-menu-nav-social-list {
  animation: moveInFromYAndFadeIn 0.7s calc(var(--animation-delay) * 100ms) forwards;
}

@media (min-width: 1024px) {
  .main-menu {
    display: flex;
    flex-direction: column-reverse;
  }

  .main-menu-nav {
    height: 100%;
    padding-bottom: var(--spacing-3xl);
  }

  .main-menu-close {
    position: relative;
    padding: var(--spacing-l);
    height: 140px;
    align-self: flex-end;
    margin: 0;
  }

  .main-menu-open[aria-expanded="false"] + .main-menu .main-menu-close {
    transform: translateY(-160px);
  }

  .main-menu-nav-link__sub-label {
    display: inline;
  }
}
