.short-bio {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "image"
    "main"
    "copy";
  gap: var(--spacing-l);
  padding: var(--spacing-m) 0;
  background-color: var(--color-black);
  
  --scroll-progress: 0;
}

.short-bio__main-content {
  grid-area: main;
  text-transform: uppercase;
}

.short-bio__image {
  grid-area: image;
  margin: 0 var(--spacing-m);
  opacity: 0;
  overflow: hidden;
}

.short-bio__image picture img {
  width: 100%;
  object-fit: cover;
  transform: scale(1.1);
}

.short-bio__copy {
  grid-area: copy;
  font-size: var(--font-size-xs);
  line-height: var(--font-line-height-m);
  padding: 0 var(--spacing-m);
  opacity: 0;
}

.short-bio-title {
  position: relative;
  font-family: var(--font-headline-bold);
  font-size: var(--font-size-l);
  line-height: var(--font-line-height-l);
  /* opacity: var(--scroll-progress);*/
}

.short-bio-title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsl(0deg 0% 100%) 0%,
    hsl(247deg 2% 88%) 19%,
    hsl(247deg 2% 76%) 29%,
    hsl(247deg 2% 64%) 36%,
    hsl(247deg 2% 53%) 40%,
    hsl(247deg 3% 43%) 44%,
    hsl(247deg 4% 32%) 48%,
    hsl(246deg 7% 23%) 53%,
    hsl(245deg 12% 13%) 62%,
    hsl(248deg 88% 3%) 88%
  );
  mix-blend-mode: darken;
  opacity: calc(1 - var(--scroll-progress));
} 

@media (min-width: 768px) {
  .short-bio {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "main main"
      "image copy";
    gap: var(--spacing--xxl);
  }

  .short-bio__main-content {
    padding-top: var(--spacing-xxl);
    padding-bottom: var(--spacing-xxl);
  }

  .short-bio__image {
    overflow: hidden;
    position: relative;
    flex: 1;
    margin: 0;
  }

  .short-bio__image picture {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .short-bio__copy {
    max-width: 70ch;
    min-height: 330px;
    flex: 1;
  }

  .short-bio-title {
    font-size: 96px;
    line-height: 96px;
  }
}

@media (min-width: 1024px) {
  .short-bio {
    padding: var(--spacing-xxl) 0;
  }

  .short-bio-title {
    font-size: var(--font-size-xxl);
    line-height: var(--font-line-height-xxl);
  }

  .short-bio__copy {
    padding-left: var(--spacing-xxl);
  }
}
