.short-bio {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "image"
    "main"
    "copy";
  gap: var(--spacing-l);
  padding: var(--spacing-m) 0;
  background-color: var(--color-black);
column-gap: var(--spacing-xxl);
}

.short-bio__main-content {
  grid-area: main;
  text-transform: uppercase;
}

.short-bio__image {
  grid-area: image;
  margin: 0 var(--spacing-m);
  opacity: 0;
  overflow: hidden;
}

.short-bio__image picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.short-bio__copy {
  grid-area: copy;
  font-size: var(--font-size-xs);
  line-height: var(--font-line-height-xs);
  padding: 0 var(--spacing-m);
}

.short-bio-title {
  font-family: var(--font-headline-bold);
  font-size: var(--font-size-l);
  line-height: var(--font-line-height-l);
}

@media (min-width: 768px) {
  .short-bio {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "main main"
      "image copy";
    gap: var(--spacing--xxl);
  }

  .short-bio__main-content {
    padding-top: var(--spacing-xxl);
    padding-bottom: var(--spacing-xxl);
  }

  .short-bio__image {
    overflow: hidden;
    position: relative;
    flex: 1;
    margin: 0;
  }

  .short-bio__image picture img {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .short-bio__copy {
    min-height: 330px;
    flex: 1;
  }
}

@media (min-width: 1024px) {
  .short-bio {
    padding: var(--spacing-xxl) 0;
  }

  .short-bio__image {
    max-width: calc(100%  - 124px);

  }

  .short-bio-title {
    font-size: var(--font-size-xl);
    line-height: var(--font-line-height-xl);
  }

  .short-bio__copy {
    position: relative;
    margin-top: -4px;
    padding-left: var(--spacing-xxl);
    margin-left: calc(124px * -1);
    column-count: 2;
    column-gap: var(--spacing-xxl);
    max-width: 85ch;
  }
}
