.tabs {
  background-color: var(--color-black);
}

.tabs-list__hover-highlight {
  display: none;
  position: absolute;
  pointer-events: none;
}

.tabs-list__link[aria-selected] + .tabs-list__hover-highlight,
.tabs-list__link:hover + .tabs-list__hover-highlight {
  display: block;
}

.tabs-list__hover-highlight svg path {
  opacity: 0;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
}

.tabs-list__hover-highlight.tabs-list__hover-highlight--underline svg {
  width: 180px;
  height: auto;
  transform: translate(-16px, -8px);
}

.tabs-list__hover-highlight.tabs-list__hover-highlight--circle {
  top: -24px;
  left: -10px;
}

.tabs-list__item:first-child .tabs-list__hover-highlight--circle {
  top: -30px;
  left: -10px;
}

.tabs-list__item:first-child .tabs-list__hover-highlight--circle svg {
  width: 70px;
}

.tabs-list__hover-highlight.tabs-list__hover-highlight--circle svg {
  width: 60px;
  height: auto;
}

.tabs-list__hover-highlight.tabs-list__hover-highlight--circle svg path {
  fill: none;
  stroke: var(--color-highlight);
  stroke-width: 3px;
}

.tabs-list__link[aria-selected] + .tabs-list__hover-highlight svg path,
.tabs-list__link:hover + .tabs-list__hover-highlight svg path {
  animation: svgStroke 700ms var(--ease-out-smooth) forwards;
}

.tabs-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-m);
  padding: var(--spacing-m);
}

.tabs-list.tabs-list--sticky {
  position: sticky;
  top: 0;
  z-index: var(--z-layer-above);
  background-color: var(--color-black);
}

.tabs-list__item {
  position: relative;
  text-transform: uppercase;
}

.tabs-list__link {
  text-decoration: none;
  color: var(--color-white);
  font-size: var(--font-size-m);
  font-family: var(--font-headline-bold);
  transition: color 300ms var(--ease-out-smooth);
  white-space: nowrap;
}

.tabs-list__link[aria-selected] {
  color: var(--color-highlight);
}

@media (min-width: 768px) {
  .tabs-list {
    justify-content: flex-end;
    gap: var(--spacing-l);
  }

  .tabs-list.tabs-list--sticky {
    top: var(--spacing-xl);
    background-color: transparent;
  }
}

@media (min-width: 1280px) {
  .tabs-list {
    padding: 0 48px;
  }
}
