---
layout: layout.njk
pageId: archive
pageTitle: "Lisa Marleen – Archive"
---

<div class="page-intro" data-page-animation-container>
    <h1 class="page-intro__title" data-page-animation-title>Project <br/> Archive</h1>
</div>

<div class="tabs">
    <ul class="tabs-list tabs-list--sticky" data-page-animation-content>
        {% for archiveItemByYear in archive.itemsByYear %}
        <li class="tabs-list__item">
            <a class="tabs-list__link" href="#{{ archiveItemByYear.year }}">
                {% if loop.index0 %}{{ "/" + archiveItemByYear.year.substr(2,4) }}{% else %}{{ archiveItemByYear.year }}{% endif %}
            </a>
            <span class="tabs-list__hover-highlight tabs-list__hover-highlight--circle">
                {% include "small-circle-highlight.njk" %}
            </span>
        </li>
        {% endfor %}
    </ul>
    {% for archiveItemByYear in archive.itemsByYear %}
    <section class="tabs-panel" id="{{ archiveItemByYear.year }}">
        <div class="content-wrapper">
        {% for archiveItem in archiveItemByYear.items %}
            <div class="case-archive-item" data-page-animation-fade-in-view>
                <div class="case-archive-item__image">
                    {% set computedSrc = "./src/assets/images/archive/" + archiveItem.src %}
                    {% set altText = "teaser of" + archiveItem.title %}
                    {%  imageWithDetail computedSrc, archiveItem.alt, "(min-width: 768px) 50vw, 100vw" %}
                </div>
                <div class="case-archive-item__content">
                    <h2 class="case-archive-item-title">{{ archiveItem.title }}</h2>
                    <div class="case-archive-item-link">
                        <a class="external-link" href={{ archiveItem.link.link }} rel="noopener noreferrer" target="_blank">
                            {{ archiveItem.link.label }}
                            {% include "icon-link.njk" %}
                        </a>
                    </div>
                    <p class="case-archive-item-meta">{{ archiveItem.client }}</p>
                    <p class="case-archive-item-meta">{{ archiveItem.tags.join(", ") }}</p>
                    <p class="case-archive-item-meta case-archive-item-meta--year"><b>{{ archiveItemByYear.year }}</b></p>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>
    {% endfor %}
</div>
<nav class="exit-nav">
    <div class="content-wrapper">
        <ul class="exit-nav-list" data-page-animation-fade-in-view>
        {% for navigationItem in common.navigation %}
            <li class="exit-nav-list__item">
                <a href={{navigationItem.link}}>{{navigationItem.label}}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</nav>
