---
layout: layout.njk
pageId: cases
pageTitle: "Lisa Marleen – Selected Cases"
pageDescription: "My experience derives from 7+ years of working in the field of creative technologies. Here a collection of selected case studies."
---

<div class="page-intro" data-page-animation-container>
    <h1 class="page-intro__title" data-page-animation-title>{{ cases.title | safe }}</h1>
</div>
<div class="tabs">
    <ul class="tabs-list tabs-list--sticky" data-page-animation-content>
        <li class="tabs-list__item">
            <a class="tabs-list__link" href="#independent">{{ cases.tabs.leftTitle }}</a>
            <span class="tabs-list__hover-highlight tabs-list__hover-highlight--underline">
                {% include "underline-deco.njk" %}
            </span>
        </li>
        <li class="tabs-list__item">
            <a class="tabs-list__link" href="#incommision">{{ cases.tabs.rightTitle }}</a>
            <span class="tabs-list__hover-highlight tabs-list__hover-highlight--underline">
                {% include "underline-deco.njk" %}
            </span>
        </li>
    </ul>
    <section class="tabs-panel" id="independent">
        {% for caseItem in independent.items %}
            <div class="case-section">
                <div class="content-wrapper">
                    <div class="case">
                        {% for caseImage in caseItem.images %}
                            <div
                                class="case__visual visual visual--alignment-{{ caseImage.largeView.alignment | default('left') }} visual--width-{{ caseImage.largeView.width | default('1/1') }}"
                                data-page-animation-visual data-in-view-amount="{{ 0.2 if caseImage.srcType === 'video' else 0.5 }}"
                                data-visual-type="{{ 'lazy-video' if caseImage.srcType === 'video' else 'image' }}"
                                style="--placeholder-color:{{ caseImage.placeholderColor | default('var(--color-grey1)') }}">
                                {% if caseImage.srcType === "image" %}
                                    {% set computedSrc = "./src/assets/images/" + caseItem.id + "/" + caseImage.src  %}
                                    {%  imageWithDetail computedSrc, caseImage.alt, "(min-width: 768px) 50vw, 100vw" %}
                                {% elseif caseImage.srcType === "video" %}
                                    {% set computedSrc = "/assets/videos/" + caseItem.id + "/" + caseImage.src %}
                                    {%  lazyVideo computedSrc, caseImage.formats, caseImage.width, caseImage.height %}
                                {% endif %}
                            </div>
                        {% endfor %}
                        <h2 class="case__title" data-page-animation-fade-in-view>{{ caseItem.title | safe }}</h2>
                        <div class="case__desc" data-page-animation-fade-in-view data-in-view-amount="0.5">
                            <div class="formatted-copy">{{ caseItem.description | safe }}</div>
                            <div class="case-links">
                                {% for caseLink in caseItem.links %}
                                    <a class="case-links__item external-link" href={{ caseLink.link }} rel="noopener noreferrer" target="_blank">
                                        {{ caseLink.label }}
                                        {% include "icon-link.njk" %}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <nav class="exit-nav">
            <div class="content-wrapper">
                <ul class="exit-nav-list" data-page-animation-fade-in-view>
                {% for navigationItem in cases.exitNavigationIndependent %}
                    <li class="exit-nav-list__item">
                        <a href={{navigationItem.link}}>
                            {{navigationItem.label}}
                            {% if navigationItem.isSkipLink %}{% include "icon-arrow-up-scribbled.njk" %}{% endif %}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </nav>
    </section>
    <section class="tabs-panel" id="incommision">
        {% for caseItem in commercial.items %}
            <div class="case-section">
                <div class="content-wrapper">
                    <div class="case">
                        {% for caseImage in caseItem.images %}
                            <div
                                class="case__visual visual visual--alignment-{{ caseImage.largeView.alignment | default('left') }} visual--width-{{ caseImage.largeView.width | default('1/1') }}"
                                data-page-animation-visual data-in-view-amount="{{ 0.2 if caseImage.srcType === 'video' else 0.5 }}"
                                data-visual-type="{{ 'lazy-video' if caseImage.srcType === 'video' else 'image' }}"
                                style="--placeholder-color:{{ caseImage.placeholderColor | default('var(--color-grey1)') }}">
                                {% if caseImage.srcType === "image" %}
                                    {% set computedSrc = "./src/assets/images/" + caseItem.id + "/" + caseImage.src  %}
                                    {%  imageWithDetail computedSrc, caseImage.alt, "(min-width: 768px) 50vw, 100vw" %}
                                {% elseif caseImage.srcType === "video" %}
                                    {% set computedSrc = "/assets/videos/" + caseItem.id + "/" + caseImage.src %}
                                    {%  lazyVideo computedSrc, caseImage.formats, caseImage.width, caseImage.height %}
                                {% endif %}
                            </div>
                        {% endfor %}
                        <h2 class="case__title" data-page-animation-fade-in-view>{{ caseItem.title | safe }}</h2>
                        <div class="case__desc" data-page-animation-fade-in-view data-in-view-amount="0.5">
                            <div class="formatted-copy">{{ caseItem.description | safe }}</div>
                            <div class="case-links">
                                {% for caseLink in caseItem.links %}
                                    <a class="case-links__item external-link" href={{ caseLink.link }} rel="noopener noreferrer" target="_blank">
                                        {{ caseLink.label }}
                                        {% include "icon-link.njk" %}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <nav class="exit-nav">
            <div class="content-wrapper">
                <ul class="exit-nav-list" data-page-animation-fade-in-view>
                {% for navigationItem in cases.exitNavigationInCommision %}
                    <li class="exit-nav-list__item">
                        <a href={{navigationItem.link}}>
                            {{navigationItem.label}}
                            {% if navigationItem.isSkipLink %}{% include "icon-arrow-up-scribbled.njk" %}{% endif %}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </nav>
    </section>
</div>

<a href="/archive" class="case-archive-teaser" data-page-animation-mousemove-strength data-page-animation-custom-class-in-view="case-archive-teaser">
    <div class="case-archive-teaser__content">
        <h2 class="case-archive-teaser-title">{{ archive.title }}</h2>
        <p class="case-archive-teaser-subtitle case-archive-teaser-subtitle--first">
            <span>2015</span>
            <span class="sr-only">until</span>
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="183.792" height="14.881" viewBox="0 0 183.792 14.881">
                <path pathLength="1" d="M3232.477,1325.268s14,12.6,26.191,11.133,7.576-4.594,15.051-6.821,15.653.189,21.023,0-4.015-5.781,9.282-4.312,15.955,3.234,21.274,4.312.651,11.7,8.879,6.821a61.285,61.285,0,0,0,13.647-11.133h34.369s27.292-1,31.458,0" transform="translate(-3231.064 -1323.774)" fill="none" stroke-linecap="round" stroke-width="2"/>
            </svg>
            <span>now</span>
        </p>
        <p class="case-archive-teaser-subtitle case-archive-teaser-subtitle--last">
            There is more
        </p>
    </div>
    <ul class="case-archive-teaser__list" aria-hidden="true">
    {% for archiveItem in archive.teaser %}
        {% set computedSrc = "./src/assets/images/archive/" + archiveItem %}
        <li class="case-archive-teaser__list-item" style="--position: {{ loop.index - 3 }};">
            {%  imageWithDetail computedSrc, archiveItem.alt, "(min-width: 768px) 50vw, 100vw" %}
        </li>
    {% endfor %}
    </ul>
</a>
