---
layout: layout.njk
pageId: home
pageTitle: "Lisa Marleen Portfolio 2022"
pageDescription: "Hello"
---

<section class="page-intro intro" data-page-animation-container>
    <div class="page-intro__background" aria-hidden="true" data-page-animation-background>
        <video class="intro__video" autoplay loop muted playsinline>
            <source src="{{ './assets/videos/FluidBG.mp4' | url }}" type="video/mp4">
        </video>
    </div>
    <h1 class="page-intro__title intro-title" data-page-animation-title>{{ home.title | safe }}</h1>
    <nav class="page-intro__content intro-nav" data-page-animation-content>
        <ul>
            {% for navigationItem in home.navigation %}
                <li>
                    <a href={{navigationItem.link}}>
                        {{navigationItem.label}}
                        {% if navigationItem.isSkipLink %}{% include "icon-arrow-down-scribbled.njk" %}{% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</section>

<section id="about" class="short-bio">
    <div class="short-bio__main-content content-wrapper" data-page-animation-fade-in-view>
        <h2 class="short-bio-title">{{home.shortBio.title}}</h2>
    </div>
    <div class="short-bio__image" data-page-animation-visual>
        {% set shortBioImageSrc = "./src/assets/images/" + home.shortBio.image.defaultFileName %}
        {% set shortBioDetailImageSrc = "./src/assets/images/" +  home.shortBio.image.detailFileName %}
        {%  imageWithDetail shortBioImageSrc, home.shortBio.image.alt, "(min-width: 768px) 50vw, 100vw", shortBioDetailImageSrc, "(max-width: 767px)", "100vw" %}
    </div>
    <p class="short-bio__copy" data-page-animation-fade-in-view>
        {{home.shortBio.copy}}
    </p>
</section>

<section class="experience-education about-section">
    <div class="content-wrapper">
        <div class="about-section__listing info">
            <h2 class="info__title" data-page-animation-fade-in-view>{{home.experience.title | safe }}</h2>
            <ul class="info__list listing" data-page-animation-custom-class-in-view="listing">
            {% for experienceItem in home.experience.items %}
                <li class="listing-item" style="--animation-delay: {{ loop.index * 200 }}ms">
                    <div class="listing-item__main-content">
                        <h3 class="listing-item__label">{{ experienceItem.label }}</h3>
                        <h4 class="listing-item__sub-label">{{ experienceItem.subLabel }}</h4>
                        <h5 class="listing-item__meta">{{ experienceItem.meta }}</h5>
                    </div>
                    <p class="listing-item__time">{{ experienceItem.time }}</p>
                    {% if loop.first %}
                        <p class="sr-only">Current Position</p>
                        <span class="listing-item-current-hint" aria-hidden="true">
                            {% include "asterix.njk" %}
                            {% include "circle-highlight.njk" %}
                        </span>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
            <span class="listing-item-current-label">{% include "current-position.njk" %}</span>
        </div>
        <div class="about-section__listing info">
            <h2 class="info__title" data-page-animation-fade-in-view>{{home.education.title | safe }}</h2>
            <ul class="info__list listing" data-page-animation-custom-class-in-view="listing">
            {% for educationItem in home.education.items %}
                <li class="listing-item" style="--animation-delay: {{ loop.index * 200 }}ms">
                    <div class="listing-item__main-content">
                        <h3 class="listing-item__label">{{ educationItem.label }}</h3>
                        <h4 class="listing-item__sub-label">{{ educationItem.subLabel }}</h4>
                        <h5 class="listing-item__meta">{{ educationItem.meta }}</h5>
                    </div>
                    <p class="listing-item__time">{{ educationItem.time }}</p>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>

<section class="teachings-talks about-section">
    <div class="content-wrapper">
        <div class="about-section__listing info">
            <h2 class="info__title" data-page-animation-fade-in-view>{{home.teachings.title | safe }}</h2>
            <ul class="info__list listing" data-page-animation-custom-class-in-view="listing">
            {% for teachingItem in home.teachings.items %}
                <li class="listing-item" style="--animation-delay: {{ loop.index * 200 }}ms">
                    <div class="listing-item__main-content">
                        <h3 class="listing-item__label">{{ teachingItem.label }}</h3>
                        <h4 class="listing-item__sub-label">{{ teachingItem.subLabel }}</h4>
                        <h5 class="listing-item__meta">{{ teachingItem.meta }}</h5>
                    </div>
                    {% if teachingItem.link %}
                    <a class="listing-item__link" href={{ teachingItem.link }} rel="noopener noreferrer" target="_blank">
                        {% include "icon-link.njk" %}
                    </a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>

        <div class="about-section__listing info">
            <h2 class="info__title" data-page-animation-fade-in-view>{{home.exhibitions.title | safe }}</h2>
            <ul class="info__list listing" data-page-animation-custom-class-in-view="listing">
            {% for exhibitionItem in home.exhibitions.items %}
                <li class="listing-item" style="--animation-delay: {{ loop.index * 200 }}ms">
                    <div class="listing-item__main-content">
                        <h3 class="listing-item__label">{{ exhibitionItem.label }}</h3>
                        <h4 class="listing-item__sub-label">{{ exhibitionItem.subLabel }}</h4>
                        <h5 class="listing-item__meta">{{ exhibitionItem.meta }}</h5>
                    </div>
                    {% if exhibitionItem.link %}
                        <a class="listing-item__link" href={{ exhibitionItem.link }} rel="noopener noreferrer" target="_blank">
                        {% include "icon-link.njk" %}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>

<section class="publications-awards about-section">
    <div class="content-wrapper">
        <div class="about-section__listing info">
            <h2 class="info__title" data-page-animation-fade-in-view>{{home.publications.title | safe }}</h2>
            <ul class="info__list listing" data-page-animation-custom-class-in-view="listing">
            {% for publicationItem in home.publications.items %}
                <li class="listing-item" style="--animation-delay: {{ loop.index * 200 }}ms">
                    <div class="listing-item__main-content">
                        <h3 class="listing-item__label">{{ publicationItem.label }}</h3>
                        <h4 class="listing-item__sub-label">{{ publicationItem.subLabel }}</h4>
                        <h5 class="listing-item__meta">{{ publicationItem.meta }}</h5>
                    </div>
                    {% if publicationItem.link %}
                        <a class="listing-item__link" href={{ publicationItem.link }} rel="noopener noreferrer" target="_blank">
                            {% include "icon-link.njk" %}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>

        <div class="about-section__listing info">
            <h2 class="info__title info-title--secondary" data-page-animation-fade-in-view>{{home.awards.title }}</h2>
            <p class="info__block" data-page-animation-fade-in-view>
            {% for awardsItem in home.awards.items %}
                <span>
                    {{ awardsItem.label }}
                    {% if awardsItem.count > 1 %}
                        <sup>{{ awardsItem.count }}x</sup>
                    {% endif %}
                    {% if not loop.last %},&nbsp;{% endif %}
                </span>
            {% endfor %}
            </p>
        </div>
    </div>
</section>
   
<nav class="exit-nav">
    <div class="content-wrapper">
        <ul class="exit-nav-list" data-page-animation-fade-in-view>
        {% for navigationItem in home.exitNavigation %}
            <li class="exit-nav-list__item">
                <a href={{navigationItem.link}}>{{navigationItem.label}}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</nav>