---
layout: layout.njk
pageId: home
pageTitle: "Lisa Marleen Portfolio 2022"
---

<section class="intro">
    <h1 class="intro-title">{{ home.title | safe }}</h1>
    <nav class="intro-nav">
        <ul>
            {% for navigationItem in common.navigation %}
                <li>
                    <a href={{navigationItem.link}}>{{navigationItem.label}}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <video class="intro__video" autoplay loop muted playsinline>
        <source src="./assets/videos/FluidBG.mp4" type="video/mp4">
    </video>
</section>

<section class="short-bio">
    <div class="short-bio__main-content content-wrapper">
        <h2 class="short-bio-title">{{home.shortBioTitle}}</h2>
    </div>
    <div class="short-bio__image">
        {%  imageWithDetail "./src/assets/images/test.jpg", "My pug, Bobby", "(min-width: 768px) 50vw, 100vw", "./src/assets/images/testDetail.jpg", "(max-width: 767px)", "100vw" %}
    </div>
    <p class="short-bio__copy">
        {{home.shortBioCopy}}
    </p>
</section>

<section class="experience-education about-section">
    <div class="content-wrapper">
        <div class="about-section__listing info">
            <h2 class="info__title">{{home.experience.title | safe }}</h2>
            <ul class="info__list">
            {% for experienceItem in home.experience.items %}
                <li class="listing-item">
                    <div class="listing-item__main-content">
                        <h3 class="listing-item__label">{{ experienceItem.label }}</h3>
                        <h4 class="listing-item__sub-label">{{ experienceItem.subLabel }}</h4>
                        <h5 class="listing-item__meta">{{ experienceItem.meta }}</h5>
                    </div>
                    <p class="listing-item__time">{{ experienceItem.time }}</p>
                </li>
            {% endfor %}
            </ul>
        </div>  
        <div class="about-section__listing info">
            <h2 class="info__title">{{home.education.title | safe }}</h2>
            <ul class="info__list">
            {% for educationItem in home.education.items %}
                <li class="listing-item">
                    <div class="listing-item__main-content">
                        <h3 class="listing-item__label">{{ educationItem.label }}</h3>
                        <h4 class="listing-item__sub-label">{{ educationItem.subLabel }}</h4>
                        <h5 class="listing-item__meta">{{ educationItem.meta }}</h5>
                    </div>
                    <p class="listing-item__time">{{ educationItem.time }}</p>
                </li>
            {% endfor %}
            </ul>
        </div>  
    </div>
</section>

<section class="teachings-talks about-section">
    <div class="content-wrapper">
        <div class="about-section__listing info">
            <h2 class="info__title">{{home.teachings.title | safe }}</h2>
            <ul class="info__list">
            {% for teachingItem in home.teachings.items %}
                <li class="listing-item">
                    <div class="listing-item__main-content">
                        <h3 class="listing-item__label">{{ teachingItem.label }}</h3>
                        <h4 class="listing-item__sub-label">{{ teachingItem.subLabel }}</h4>
                        <h5 class="listing-item__meta">{{ teachingItem.meta }}</h5>
                    </div>
                    {% if teachingItem.link %}
                    <a class="listing-item__link" href={{ teachingItem.link }} rel="noopener noreferrer" target="_blank">
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="square" stroke-linejoin="arcs"><path d="M7 17l9.2-9.2M17 17V7H7"></path></svg>
                    </a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>

        <div class="about-section__listing info">
            <h2 class="info__title">{{home.exhibitions.title | safe }}</h2>
            <ul class="info__list">
            {% for exhibitionItem in home.exhibitions.items %}
                <li class="listing-item">
                    <div class="listing-item__main-content">
                        <h3 class="listing-item__label">{{ exhibitionItem.label }}</h3>
                        <h4 class="listing-item__sub-label">{{ exhibitionItem.subLabel }}</h4>
                        <h5 class="listing-item__meta">{{ exhibitionItem.meta }}</h5>
                    </div>
                    {% if exhibitionItem.link %}
                        <a class="listing-item__link" href={{ exhibitionItem.link }} rel="noopener noreferrer" target="_blank">
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="square" stroke-linejoin="arcs"><path d="M7 17l9.2-9.2M17 17V7H7"></path></svg>
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>

<section class="publications-awards about-section">
    <div class="content-wrapper">
        <div class="about-section__listing info">
            <h2 class="info__title">{{home.publications.title | safe }}</h2>
            <ul class="info__list">
            {% for publicationItem in home.publications.items %}
                <li class="listing-item">
                    <div class="listing-item__main-content">
                        <h3 class="listing-item__label">{{ publicationItem.label }}</h3>
                        <h4 class="listing-item__sub-label">{{ publicationItem.subLabel }}</h4>
                        <h5 class="listing-item__meta">{{ publicationItem.meta }}</h5>
                    </div>
                    {% if publicationItem.link %}
                    <a class="listing-item__link" href={{ publicationItem.link }} rel="noopener noreferrer" target="_blank">
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="square" stroke-linejoin="arcs"><path d="M7 17l9.2-9.2M17 17V7H7"></path></svg>
                    </a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>

        <div class="about-section__listing info">
            <h2 class="info__title">{{home.awards.title }}</h2>
            <p class="info__block">
            {% for awardsItem in home.awards.items %}
                <span>
                    {{ awardsItem.label }}
                    {% if awardsItem.count > 1 %}
                        <sup>{{ awardsItem.count }}x</sup>
                    {% endif %}
                </span>
            {% endfor %}
            </p>
        </div>
    </div>
</section>
