---
layout: layout.njk
pageId: projects
pageTitle: "Lisa Marleen Portfolio 2022 - Projects"
---

<div class="page-intro" data-page-animation-container>
    <h1 class="page-intro__title" data-page-animation-title>{{ projects.title | safe }}</h1>
</div>
<div class="tabs">
    <ul class="tabs-list tabs-list--sticky" data-page-animation-content>
        <li class="tabs-list__item">
            <a class="tabs-list__link" href="#casesIndependent">{{ projects.tabs.leftTitle }}</a>
        </li>
        <li class="tabs-list__item">
            <a class="tabs-list__link" href="#casesCommercial">{{ projects.tabs.rightTitle }}</a>
        </li>
    </ul>
    <section class="tabs-panel" id="casesIndependent">
        {% for projectItem in independent.items %}
            <div class="project-section">
                <div class="content-wrapper">
                    <div class="project">
                        {% for projectImage in projectItem.images %}
                            {% set computedSrc = "./src/assets/images/" + projectItem.id + "/" + projectImage.src  %}
                            <div 
                                class="project__image project__image--alignment-{{ projectImage.largeView.alignment | default('left') }} project__image--width-{{ projectImage.largeView.width | default('1/1') }}" 
                                data-page-animation-image>
                                {%  imageWithDetail computedSrc, projectImage.alt, "(min-width: 768px) 50vw, 100vw" %}
                            </div>
                        {% endfor %}
                        <h2 class="project__title" data-page-animation-fade-in-view>{{ projectItem.title | safe }}</h2>
                        <div class="project__desc" data-page-animation-fade-in-view>
                            <div class="formatted-copy">{{ projectItem.description | safe }}</div>
                            <div class="project-links">
                                {% for projectLink in projectItem.links %}
                                    <a class="project-links__item" href={{ projectLink.link }} rel="noopener noreferrer" target="_blank">
                                        {{ projectLink.label }}
                                        {% include "icon-arrow-right-up.njk" %}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
    <section class="tabs-panel" id="casesCommercial">
        {% for projectItem in commercial.items %}
            <div class="project-section">
                <div class="content-wrapper">
                    <div class="project">
                        {% for projectImage in projectItem.images %}
                            {% set computedSrc = "./src/assets/images/" + projectItem.id + "/" + projectImage.src  %}
                            <div 
                                data-page-animation-image
                                class="project__image project__image--alignment-{{ projectImage.largeView.alignment | default('left') }} project__image--width-{{ projectImage.largeView.width | default('1/1') }}">
                                {%  imageWithDetail computedSrc, projectImage.alt, "(min-width: 768px) 50vw, 100vw" %}
                            </div>
                        {% endfor %}
                        <h2 class="project__title" data-page-animation-fade-in-view>{{ projectItem.title | safe }}</h2>
                        <div class="project__desc" data-page-animation-fade-in-view>
                            <div class="formatted-copy">{{ projectItem.description | safe }}</div>
                            <div class="project-links">
                                {% for projectLink in projectItem.links %}
                                    <a class="project-links__item" href={{ projectLink.link }} rel="noopener noreferrer" target="_blank">
                                        {{ projectLink.label }}
                                        {% include "icon-arrow-right-up.njk" %}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
</div>

